{% extends 'base.html' %}

{% block content %}
<div class="container" style="margin-left: 25%;">
    <h1 style="color: rgb(201, 196, 196)">Update</h1>
    <form action="/freeboard/updateproc" method="post" >
        <input type="hidden" name="idx" value="{{res[0]}}" >
        <h2>제목</h2>
        <input class = "form-control" type="text" name="title" value="{{res[1]}}"  style="height: 2rem; width: 800px; font-family: 'Noto Sans KR', sans-serif; font-size: 1.5rem;"><br>
        <h2>내용</h2>
        <textarea name="content" class="form-control" style="resize: none; width: 1000px; height: 400px; font-size: 1rem;">{{res[2]}}</textarea><br>
        <h2>작성자</h2>
        <input class="form-control" type="text" name="writer" value="{{res[3]}}" style="height: 2rem; font-size: 1rem;"><br>     
        <input class="btn btn-primary" type="submit" value="글수정" style="margin-left: 67%;">
    </form>
</div>
<style>
    h2{
        color: #4f46e5;
    }
</style>
{% endblock %}
