{% extends 'base.html' %}

{% block content %}
<style>
    .container{
        margin-left: 25%;
        margin-top: 1%;
    }
    #btn_1>:hover{
        color: red;
    }
</style>
<div class="container">
    <h2 style="margin-top: 1%; color: #534eb6;" >타이틀</h2>
    <h2 style="border: 1px solid rgb(201, 196, 196); width: 1000px;">{{res[1]}}</h2>
    <h2 style="color: #534eb6;">내용</h2>
    <p style="width: 1000px; height: 400px; border: 1px solid rgb(201, 196, 196);">{{res[2]}}</p>
    <h2 style="color: #534eb6">작성자</h2>
    <p style="width: 200px;border: 1px solid rgb(201, 196, 196);">{{res[3]}}</p>
    <h3 style="margin-left: 65%; color: rgb(201, 196, 196);">조회수 {{res[4]}} 
    <h3 style="margin-left: 51.5%; color: rgb(201, 196, 196);">작성날짜 : {{res[5]}}</h3>
    <div style="position: relative;">
        <div style="position: absolute; top: 0; right:30%;">
            <a class="btn btn-primary" href="/freeboard" style="color: black;">목록</a>
        </div>
        <div style="position: absolute; top: 0; right: 32.5%;">
                <a class="btn btn-primary"  href="/freeboard/updateform?idx={{res[0]}}" style="color: black;">수정</a>
                <a class="btn btn-primary"  href="/freeboard/delete?idx={{res[0]}}" style="color: black;">삭제</a>
        </div>
    </div>
</div>
    {% endblock %}

